@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/*General Styles*/
* {
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: #F5F7FB;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    cursor: pointer;
    outline: none;
    border: 3px solid transparent;
    background-color: #4D5B9E;
    color: #fff;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}

.btn:hover,
.btn:focus {
    color: #4D5B9E;
    background-color: #fff;
    border-color: #4D5B9E;
}

/*Background corner effect*/
.container:before {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #FFFAD1;
    top: -100px;
    right: -200px;
    transform: rotate(-128.49deg);
    z-index: -1;
  }

  .container:after {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #DEEBF8;
    bottom: -100px;
    left: -200px;
    transform: rotate(-128.49deg);
    z-index: -2;
  }

  /*Start Game Overlay*/
  .overlay {
    text-align: center;
    color: #293264;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .title {
      font-weight: 700;
      font-size: 1.94rem;
      margin-bottom: 0.44rem;
  }

  .subtitle {
      margin-bottom: 1.81em;
  }

  .btn__start {
      padding: 1em 2em;
  }

  /*Trivia Card*/
  .trivia-container {
    margin-top: 2.5em;
  }

  .trivia-card {
      color: #293264;
      width: 75%;
      margin-right: auto;
      margin-left: auto;
  }

  .trivia-card + .trivia-card {
      margin-top: 2em;
  }
  
  .question {
      font-weight: 700;
      margin-bottom: 0.75em;
  }

  .answers {
    display: flex;
  }

  .answer {
      display: inline-block;
      text-align: center;
      font-size: 0.63rem;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
      border: 1px solid #293264;
      border-radius: 15px;
      padding: 0.25rem 1rem;
  }

  .answer:hover {
      cursor: pointer;
  }

  .answer + .answer {
      margin-left: 1em;
  }

  hr {
      margin-top: 1.5em;
      margin-right: auto;
      margin-left: auto;
  }