@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/*General Styles*/
* {
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: #F5F7FB;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    cursor: pointer;
    outline: none;
    border: 3px solid transparent;
    background-color: #4D5B9E;
    color: #fff;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}

.btn:hover,
.btn:focus {
    color: #4D5B9E;
    background-color: #fff;
    border-color: #4D5B9E;
}

/*Background corner effect*/
.container:before {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #FFFAD1;
    top: -50px;
    right: -100px;
    transform: rotate(-128.49deg);
  }

  .container:after {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #DEEBF8;
    bottom: -50px;
    left: -100px;
    transform: rotate(-128.49deg);
  }

  /*Start Game Overlay*/
  .overlay {
    text-align: center;
    color: #293264;
  }

  .title {
      font-weight: 700;
      font-size: 1.94rem;
      margin-bottom: 0.44rem;
  }

  .subtitle {
      margin-bottom: 1.81em;
  }

  .btn__start {
      padding: 1em 2em;
  }