@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/*General Styles*/
* {
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: #F5F7FB;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}


.btn {
    cursor: pointer;
    outline: none;
    border: 3px solid transparent;
    background-color: #4D5B9E;
    color: #fff;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    padding: 1em 2em;
}

.btn:hover,
.btn:focus {
    color: #4D5B9E;
    background-color: #fff;
    border-color: #4D5B9E;
}

/*Layout*/
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5rem;
    color: #293264;
}

/*Background corner effect*/
.container:before {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #FFFAD1;
    top: -100px;
    right: -200px;
    transform: rotate(-128.49deg);
    z-index: -1;
  }

  .container:after {
    content: '';
    position: fixed;
    height: 235px;
    width: 297px;
    border-radius:100%;
    background-color: #DEEBF8;
    bottom: -100px;
    left: -200px;
    transform: rotate(-128.49deg);
    z-index: -2;
  }

  /*Start Game Overlay*/
  .overlay {
    width: 100%;
    text-align: center;
    color: #293264;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .title {
      font-weight: 700;
      font-size: 1.94rem;
      margin-bottom: 0.44rem;
  }

  .subtitle {
      margin-bottom: 1.81em;
  }

  .input-group {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.81em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .label {
      margin-bottom: 0.5em;
  }

  .input {
      padding: 0.5em;
      border: 1px solid #293264;
  }

  .input:focus {
      outline: none;
      border-color: rgb(190, 118, 190);
  }

  /*Trivia Card*/
  .trivia-container {
    margin-top: 2.5em;
    max-width: 550px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  .trivia-card {
      color: #293264;
      margin-right: auto;
      margin-left: auto;
  }

  .trivia-card + .trivia-card {
      margin-top: 2em;
  }
  
  .question {
      font-weight: 700;
      margin-bottom: 0.75em;
  }

  .answers {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .answer {
      display: block;
      text-align: center;
      font-size: 0.63rem;
      font-weight: 500;
      font-family: 'Inter', sans-serif;
      border: 1px solid #293264;
      border-radius: 15px;
      padding: 1rem 2rem;
      color: #293264;
  }

  .answer:hover {
      cursor: pointer;
  }

  .answer + .answer {
      margin-top: 1em;
  }

  .selected {
      background-color: #D6DBF5;
  }

  .correct {
      background-color: #94D7A2;
  }

  .wrong {
      background-color: #F8BCBC;
  }

  .other {
      opacity: 0.5;
  }

  hr {
      margin-top: 1em;
      margin-right: auto;
      margin-left: auto;
  }

  /*Score Section*/
  .score-section {
      width: 85%;
      max-width: 450px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1em;
      margin-top: 1.69em;  
      display: flex;
      align-items: center;
  }

  .score {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 0.81rem;
      color: #293264;
      text-align: center;
      margin-right: 1em;
  }

  .btn_chk-answer {
      margin-left: auto;
  }

  @media screen and (min-width: 550px){
    .trivia-card {
        width: 90%;
    }

    .answers {
        flex-direction: row;
        justify-content: flex-start;
    }

    .answer {
        padding: 0.5rem 1.5rem;
    }

    .answer + .answer {
        margin-left: 1em;
        margin-top: 0;
    }

    .score {
        width: 60%;
    }
  }